body {
    background-color: rgb(19, 19, 19);
    color: rgb(216, 207, 207);
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
a {
    color: rgb(216, 207, 207);
}
.header-wrapper {
    font: size 16px;
    position: sticky;
    background-color: rgb(59, 59, 59);
    border: 1px solid rgb(19, 19, 19);
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    height: auto;
    text-align:center;
}
.navbar-wrapper {
    font: size 12px;
    position: sticky;
    background-color: rgb(59, 59, 59);
    border: 1px solid rgb(19, 19, 19);
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    height: auto;
    text-align:center;
}
.button {
    position:fixed
    width: 25%;
}
@media only screen and (max-width: 768px) {
    .header-wrapper {
        font-size: 1vw;
    }
    .navbar-wrapper {
        font-size: 1vw;
    };
  }